In [43]:
# Record | Document {Instead if rows}

In [1]:
# Install pymongo
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\rajat\anaconda3\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\rajat\anaconda3\lib\site-packages (from pymongo) (2.5.0)

In [2]:
import pymongo

In [3]:
from pymongo import MongoClient

In [4]:
client = MongoClient()

In [5]:
db = client.test

In [6]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [7]:
employee = db.employee

In [8]:
employee

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'employee')

In [9]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

In [10]:
print(db.list_collection_names())

['employee']

In [11]:
dblist = client.list_database_names()
if "test" in dblist:
    print("The '{}' exists.".format('test'))

The 'test' exists.

In [12]:
employee_details = {
                    'Name': 'Raj Kumar',
                    'Address': 'Sears Steer, NZ',
                    'Age': '42'}

In [13]:
result = employee.insert_one(employee_details)

In [14]:
result

InsertOneResult(ObjectId('65b059e2a5a468808bb0032b'), acknowledged=True)

In [15]:
print(db.list_collection_names())

['employee']

In [16]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

In [18]:
dblist = client.list_database_names()
if "test" in dblist:
    print("The '{}' exists.".format('test'))

The 'test' exists.

In [19]:
collist = db.list_collection_names()
if "employee" in collist:
    print("The employee collection exists.")

The employee collection exists.

In [20]:
print(result.inserted_id)

65b059e2a5a468808bb0032b

In [22]:
mylist = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address":"Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Sideway Ave"}]

In [23]:
x = employee.insert_many(mylist)
# Print list of the _id values of the inserted documents
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
len(x.inserted_ids)

9

In [34]:
employee.count_documents({})

11

In [35]:
x = employee.find_one()
print(x)

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}

In [36]:
x = employee.find_one()
print(x)

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}

In [37]:
for x in employee.find():
    print(x)

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [38]:
myresult = employee.find().limit(5)

# Print the result
for x in myresult:
    print(x)

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}

In [39]:
myresult = employee.find()

# Print the result
for x in range(5):
    print(myresult[x])

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}

In [40]:
for x in employee.find({}, {"_id": 0, "name": 1, "address": 1}):
    print(x)

{}
{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}

In [41]:
for x in employee.find({}, {"_id": 0, "address": 1}):
    print(x)

{}
{}
{'address': 'Highway 37'}
{'address': 'Lowstreet 27'}
{'address': 'Close st 652'}
{'address': 'Mountain 21'}
{'address': 'Valley 345'}
{'address': 'Yellow Garden 124'}
{'address': 'Yellow Garden 23'}
{'address': 'Younge Ave. 123'}
{'address': 'Sideway Ave'}

In [42]:
for x in employee.find({}, {"_id": 0}):
    print(x)

{'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}

In [44]:
# Python MongoDB Query
myquery = {"address": "Highway 37"}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}

In [45]:
myquery = {"address": {"$regex": "^V"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

In [58]:
myquery = {"address": {"$regex": "l"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}

In [48]:
myquery = {"$or" : [{"address": {"$regex": "^Y"}}, {"address": {"$regex": "^S"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [59]:
myquery = {"address": {"$regex": "^Y|^S"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [66]:
myquery = {"address": {"$regex": "^Y|^S|^M"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [63]:
myquery = {"$or" : [{"address": {"$regex": "^Y"}}, {"address": {"$regex": "^S"}}]}

mydoc = employee.find(myquery).limit(2)

for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}

In [73]:
myquery = {"$and" : [{"address": {"$regex": "^Y"}}, {"address": {"$regex": "1"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [74]:
myquery = {"$and" : [{"address": {"$regex": "^Y"}}, {"address": {"$regex": "1"}}, {"name": {"$regex": "^N"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [77]:
myquery = {"$and" : [{"address": {"$regex": "^Y"}}, {"address": {"$regex": "1"}}, {"name": {"$ne": "Vicky"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [75]:
myquery = {"$and" : [{"address": {"$regex": "^Y"}}, {"address": {"$regex": "1"}}, {"name": {"$ne": "Nicky"}}]}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [86]:
myquery = {"name" : {"$ne": "Vicky"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [78]:
myquery = {"address" : {"$gt": "S"}}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [87]:
mydoc = employee.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [88]:
mydoc = employee.find().sort("name", -1)

for x in mydoc:
    print(x)

{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}

In [95]:
# Run before Update
myquery = {"address" : "Valley 345"}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

In [96]:
myquery = {"address" : "Valley 345"}
newvalues = {"$set" : {"address" : "Canyon 123"}}

employee.update_one(myquery, newvalues)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [97]:
# Print after the update
myquery = {"address" : "Canyon 123"}

mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}

In [98]:
mydoc = employee.find()

for x in mydoc:
    print(x)

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [100]:
# Run before Update many
myquery = {"address" : {"$regex" : "^C"}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}

In [101]:
# Updating many accounts

myquery = {"address" : {"$regex" : "^C"}}
newvalues = {"$set" : {"name" : "Minnie"}}

x = employee.update_many(myquery, newvalues)

print(x.modified_count, " documents upadated.")

2  documents upadated.

In [103]:
# Run after Update many
myquery = {"name" : "Minnie"}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Minnie', 'address': 'Close st 652'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}

In [107]:
# Update Field Name
employee.update_many({ },{"$rename": { "address": "home_address" }})

UpdateResult({'n': 11, 'nModified': 9, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [108]:
mydoc = employee.find()

for x in mydoc:
    print(x)

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'home_address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'home_address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'home_address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'home_address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'home_address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'home_address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'home_address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'home_address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'home_address': 'Sideway Ave'}

In [110]:
# Make a duplicate copy of the collection and assign your name to it
db.rajat = db.employee

In [113]:
rajat = db.rajat

In [114]:
print(db.list_collection_names())

['employee']

In [115]:
mydoc = rajat.find()

for x in mydoc:
    print(x)

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'home_address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'home_address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'home_address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'home_address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'home_address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'home_address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'home_address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'home_address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'home_address': 'Sideway Ave'}

In [116]:
print(db.list_collection_names())

['employee']

In [ ]:
{"Age": '35'}

In [120]:
# Before deletion
myquery = {"Age": '42'}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('65b0599d21071fe1a1f0ee2e'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}

In [121]:
# Delete one
db.employee.delete_one({"Age": '42'})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [123]:
# After deletion of one
myquery = {"Age": '42'}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}

In [132]:
# Before delete many
#myquery = {"address" : {"$regex" : "^Y"}}
mydoc = employee.find()

for x in mydoc:
    print(x)

{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'home_address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'home_address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'home_address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'home_address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'home_address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'home_address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'home_address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'home_address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'home_address': 'Sideway Ave'}

In [135]:
myquery = {"address" : {"$regex" : "^Y"}}
x = employee.delete_many(myquery)

In [136]:
print(x.deleted_count, " documents deleted!")

0  documents deleted!

In [137]:
mydoc = employee.find()

for x in mydoc:
    print(x)

{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'home_address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'home_address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Minnie', 'home_address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'home_address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'home_address': 'Canyon 123'}
{'_id': 6, 'name': 'Vicky', 'home_address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'home_address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'home_address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'home_address': 'Sideway Ave'}

In [140]:
# Delete Field Name
employee.update_many({}, { "$unset": { "home_address": "" } })

UpdateResult({'n': 10, 'nModified': 9, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [141]:
mydoc = employee.find()

for x in mydoc:
    print(x)

{'_id': ObjectId('65b059e2a5a468808bb0032b'), 'Name': 'Raj Kumar', 'Address': 'Sears Steer, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Minnie'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Minnie'}
{'_id': 6, 'name': 'Vicky'}
{'_id': 7, 'name': 'Nicky'}
{'_id': 8, 'name': 'Nancy'}
{'_id': 9, 'name': 'Viola'}

In [142]:
# Delete Many Queries
myquery = {"address" : {"$regex" : "^Y"}}

x = employee.delete_many(myquery)

print(x.deleted_count, " documetms deleted!")

0  documetms deleted!

In [143]:
x = employee.delete_many({})

print(x.deleted_count, " documents deleted")

10  documents deleted

In [144]:
mydoc = employee.find()

for x in mydoc:
    print(x)

In [145]:
employee.drop()

In [146]:
print(db.list_collection_names())

[]