In [2]:
# Reading the file
import pandas as pd
cars_df = pd.read_csv('mtcars.csv')

In [3]:
cars_df.head()

   Unnamed: 0       vichle_names   mpg  cyl  ...  v_Shape   am  gear  carb
0           0          Mazda RX4  21.0    6  ...      0.0  1.0   4.0     4
1           1      Mazda RX4 Wag  21.0    6  ...      0.0  1.0   4.0     4
2           2         Datsun 710   NaN    4  ...      1.0  1.0   4.0     1
3           3     Hornet 4 Drive  21.4    6  ...      1.0  0.0   3.0     1
4           4  Hornet Sportabout  18.7    8  ...      0.0  0.0   NaN     2

[5 rows x 13 columns]

In [4]:
cars_df.tail()

    Unnamed: 0    vichle_names   mpg  cyl  ...  v_Shape   am  gear  carb
27          27    Lotus Europa  30.4    4  ...      1.0  1.0   5.0     2
28          28  Ford Pantera L  15.8    8  ...      0.0  1.0   5.0     4
29          29    Ferrari Dino  19.7    6  ...      0.0  1.0   5.0     6
30          30   Maserati Bora  15.0    8  ...      0.0  1.0   5.0     8
31          31      Volvo 142E  21.4    4  ...      1.0  1.0   4.0     2

[5 rows x 13 columns]

In [6]:
cars_df.shape

(32, 13)

In [8]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    32 non-null     int64
 1   vichle_names  32 non-null     object
 2   mpg           30 non-null     float64
 3   cyl           32 non-null     int64
 4   disp          32 non-null     float64
 5   hp            31 non-null     float64
 6   drat          31 non-null     float64
 7   wt            32 non-null     float64
 8   qsec          29 non-null     float64
 9   v_Shape       30 non-null     float64
 10  am            28 non-null     float64
 11  gear          29 non-null     float64
 12  carb          32 non-null     int64
dtypes: float64(9), int64(3), object(1)
memory usage: 3.4+ KB

In [7]:
cars_df.isnull().sum()

Unnamed: 0      0
vichle_names    0
mpg             2
cyl             0
disp            0
hp              1
drat            1
wt              0
qsec            3
v_Shape         2
am              4
gear            3
carb            0
dtype: int64

In [9]:
cars_df.isnull().mean()

Unnamed: 0      0.00000
vichle_names    0.00000
mpg             0.06250
cyl             0.00000
disp            0.00000
hp              0.03125
drat            0.03125
wt              0.00000
qsec            0.09375
v_Shape         0.06250
am              0.12500
gear            0.09375
carb            0.00000
dtype: float64

In [23]:
# Print 
for row in cars_df.index:
    print(row)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

In [19]:
cars_df.index.name = "my_index"

In [20]:
cars_df.index.name

'my_index'

In [21]:
cars_df.head()

          Unnamed: 0       vichle_names   mpg  cyl  ...  v_Shape   am  gear  carb
my_index                                            ...
0                  0          Mazda RX4  21.0    6  ...      0.0  1.0   4.0     4
1                  1      Mazda RX4 Wag  21.0    6  ...      0.0  1.0   4.0     4
2                  2         Datsun 710   NaN    4  ...      1.0  1.0   4.0     1
3                  3     Hornet 4 Drive  21.4    6  ...      1.0  0.0   3.0     1
4                  4  Hornet Sportabout  18.7    8  ...      0.0  0.0   NaN     2

[5 rows x 13 columns]

In [26]:
cars_df.dtypes

Unnamed: 0        int64
vichle_names     object
mpg             float64
cyl               int64
disp            float64
hp              float64
drat            float64
wt              float64
qsec            float64
v_Shape         float64
am              float64
gear            float64
carb              int64
dtype: object

In [32]:
cat = cars_df.select_dtypes(include = 'object')
num = cars_df.select_dtypes(exclude = 'object')

In [33]:
num.head()

          Unnamed: 0   mpg  cyl   disp     hp  ...   qsec  v_Shape   am  gear  carb
my_index                                       ...
0                  0  21.0    6  160.0  110.0  ...  16.46      0.0  1.0   4.0     4
1                  1  21.0    6  160.0  110.0  ...  17.02      0.0  1.0   4.0     4
2                  2   NaN    4  108.0   93.0  ...  18.61      1.0  1.0   4.0     1
3                  3  21.4    6  258.0    NaN  ...  19.44      1.0  0.0   3.0     1
4                  4  18.7    8  360.0  175.0  ...  17.02      0.0  0.0   NaN     2

[5 rows x 12 columns]

In [34]:
cat.head()

               vichle_names
my_index
0                 Mazda RX4
1             Mazda RX4 Wag
2                Datsun 710
3            Hornet 4 Drive
4         Hornet Sportabout

In [36]:
# Creating a dataframe from a dictionary

name = ["Peter", "Jonh", "Maria"]
age = [24, 52, 22]
grade = ["A", "A+", "B+"]

dict = {'name' : name, 'age' : age, 'grade' : grade}

df = pd.DataFrame(dict)

In [37]:
df

    name  age grade
0  Peter   24     A
1   Jonh   52    A+
2  Maria   22    B+

In [38]:
df.to_csv('lecture_1_df.csv')

In [40]:
df.to_json('lecture_1_df.json')

In [43]:
pd.read_json('lecture_1_df.json')

    name  age grade
0  Peter   24     A
1   Jonh   52    A+
2  Maria   22    B+

In [44]:
# Read from online source

# Create URL
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv'

# Load data
df_new = pd.read_csv(url)

HTTPError: HTTP Error 404: Not Found